/* .menu{
    display: flex;
    flex-direction: column-reverse; colm = coluna, 
    flex-direction: row-reverse; rom = linha 
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    padding: 30px 8%;
}

p{
    display: flex;
    justify-content: flex-start;
    padding: 20px ;
    align-items: flex-start;
}

.menu2{
    display: flex;
    gap: 40px;
}

body {
    display: flex;
} */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 8%;
}

.lista {
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ban {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 8%;
}

.ban-c, .ban-i {
    flex: 1;
}

.ban-i{
    margin: 0;
}

.ban-i img {
    width: 100%;
    display: block;
}

.lista-ca{
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-ca > li {
    flex: 1;
    min-width: 223px;
}

.cont-c{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 60px 8%;
}

.cont-ca , .cont-c form{
    flex: 1;
}