/* .grid {
    display: flex;
    align-items:center;
    gap: 40px;   
}

.grid-1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: 700px){
    .grid-c {
        flex-direction: column;
        gap: 16px;
    }
    .grid-1{
        flex-wrap: wrap;
        justify-content: center;
    }
} */
